@model Zimbra.Social.SitecoreSDK.Samples.MVC.Models.CommentModel

@if (Model != null)
{
    <h3>Comments</h3>
    <ul class="comment-list list-unstyled">
        <li class="comment-list-item">
            <div class="form-group">
                <textarea id="comment-body" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default comment-button">Comment</button>
            </div>
        </li>
        @foreach (var comment in Model.Results.Comments)
        {
            <li class="comment-list-item">
                <div class="comment-header ">
                    <ul class="meta list-inline">
                        <li class="author">@comment.User.DisplayName</li>
                        <li class="post-date">@DateTime.Parse(comment.CreatedDate).ToString("f")</li>
                    </ul>
                </div>
                <p> @Html.Raw(comment.Body)</p>
            </li>
        }
    </ul>
    
    <script type="text/javascript">
        $(function() {
            $.social.api.comment.register({
                createCommentUrl: '@Url.Action("CommentCreate", "Social")',
                url             : '@Model.Url',
                contentId       : '@Model.ContentId',
                contentTypeId   : '@Model.ContentTypeId'
            });
        });
    </script>
}