@using Sitecore.Shell.Applications.ContentEditor
@model dynamic
<h1>Forums</h1>
<table class="forum-list table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Threads</th>
            <th>Replies</th>
            <th>Last</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var forum in Model)
       {
        <tr>
            <td>
                <h3 class="forum-name"><a href="/mvccommunity/forum/@forum.Id">@forum.Name</a></h3>
                <div class="forum-description">
                   @Html.Raw(forum.Description)
                </div>
            </td>
            <td>
                @forum.ThreadCount
            </td>
            <td>
                @forum.ReplyCount
            </td>
            <td>
                @if (forum.LatestPostDate == null)
                {
                   <span>N/A</span>
                }
                else
                {
                    @System.DateTime.Parse(forum.LatestPostDate).ToLongDateString()
                }
                
            </td>
        </tr>
       }
              
    </tbody>
</table>
