@model Telligent.SitecoreSDK.Samples.MVC.Models.LikeModel

@if (Model != null)
{
    <div class="likes"></div>
        
    <script type="text/javascript">
        $(function () {
            $.social.api.like.register({
                totalCount      :  @Model.Results.TotalCount,
                isLiked         :  @Model.IsLiked.ToString().ToLower(),
                createLikeUrl   : '@Url.Action("LikeCreate", "Social")',
                deleteLikeUrl   : '@Url.Action("LikeDelete", "Social")',
                url             : '@Model.Url',
                contentId       : '@Model.ContentId',
                contentTypeId   : '@Model.ContentTypeId'
            });
        });
    </script>
}