@model Telligent.Social.SitecoreSDK.Samples.MVC.Models.ForumThreadCreateModel


<h2>Create Thread</h2>

@using (Html.BeginForm())
{


        @Html.HiddenFor(m => m.ForumId)
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Subject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Subject,new{@class="form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Body)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
            </div>
        </div>
     
        <input type="submit" value="Post" class=" btn btn-default" />
  

}