@model Telligent.Social.SitecoreSDK.Samples.MVC.Models.ForumThreadViewModel

@{ bool isQA = Model.Thread.ThreadType == "QuestionAndAnswer";}
@{ bool hasAnswers = Model.Thread.AnswerCount != null && Model.Thread.AnswerCount > 0;}
@{ bool hasSuggestedAnswers = Model.Thread.SuggestedAnswerCount != null && Model.Thread.SuggestedAnswerCount > 0;}


<h1 class="thread-subject"><a href="/mvccommunity/forum/@ViewBag.ForumId">@ViewBag.ForumName</a> &raquo; @Model.Thread.Subject</h1>

@if (isQA && (hasAnswers || hasSuggestedAnswers))
{
    <div class="rounded thread-answer-status @(hasAnswers ? "bg-success" : "bg-warning")">
        <p>  This thread has @(hasAnswers ? "verified " : "suggested") answers</p>
    </div>
}



<div class="thread rounded bold-round">
    <ul class="post-author meta list-inline">
        <li><img src="@Model.Thread.Author.AvatarUrl" class="avatar-image"></li>
        <li class="author">@Model.Thread.Author.DisplayName</li>
        <li class="post-date">
            on @System.DateTime.Parse(Model.Thread.Date).ToLongDateString()
        </li>

    </ul>
    <p class="user-defined-markup post-body">
        @Html.Raw(Model.Thread.Body)
    </p>
</div>
<hr/>
<div class="view-thread">
    @foreach (var post in Model.Replies)
    {
       
            string answerCss = "";
        
        if (post.IsAnswer)
        {
            answerCss = "answered";
        }
         else
         {
             if (post.IsSuggestedAnswer)
             {
                 answerCss = "suggested";
             }
         }
        <div class="reply rounded @answerCss">
            <ul class="post-author meta list-inline">

                                <li class="author">@post.Author.DisplayName</li>
                                <li class="post-date">
                                    on @System.DateTime.Parse(post.Date).ToLongDateString()
                                </li>
      
            </ul>
            <p class="user-defined-markup post-body">
                @Html.Raw(post.Body)
            </p>
        </div>
       
    }
    <div class="reply-to">
        <a class="btn btn-primary" href="/mvccommunity/thread/reply/create/@Model.Thread.Id">Reply</a>
    </div>
</div>
